@import url(./common.css);

.cardslogo {
  margin-left: 55px;
  margin-top: 53px;
}

.formwrapper {
  margin: 17px 68px;
}

.inputlabel {
  color: black;
  font-size: 17px;
  font-family: "VK Sans Display Regular", Helvetica, sans-serif;
  margin-bottom: 17px;
  margin-top: 10px;
}

.horizontaldiv {
  display: flex;
  align-items: center;
  gap: 16px;
}

.toright {
  justify-content: end;
}

.logochip {
  cursor: pointer;
  height: 40px;
  opacity: 0.6;
}

.logochip_active {
  opacity: 1 !important;
}

.logochip img {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 9px;
}

.addlogochip {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 12px;
  height: 30px;
  border-radius: 8px;
  color: white;
  background-color: #0077ff;
  font-size: 14px;
  font-family: "VK Sans Display DemiBold", Helvetica, sans-serif;
}

.textinput {
  display: block;
  resize: none;
  background-color: #f5f5f5;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 0.5em;
  line-height: 1.5em;
  font-family: "VK Sans Display Regular", Helvetica, sans-serif;
}

.backgroundchip {
  cursor: pointer;
  opacity: 0.6;
}

.backgroundchip_active {
  opacity: 1 !important;
}

.backgroundchip img {
  width: 42px;
  aspect-ratio: 1 / 1;
  border-radius: 9px;
}

.selectchip {
  padding: 3px 12px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
  background-color: #f5f5f5;
  border-radius: 8px;
  height: 23px;
  color: black;
  font-size: 13px;
  font-family: "VK Sans Display Regular", Helvetica, sans-serif;
  cursor: pointer;
}

.selectchip_active {
  background-color: #eaeaea;
}

.continue {
  color: #0077ff;
  display: flex;
  gap: 5px;
  font-family: "VK Sans Display DemiBold", Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

.disabled {
  color: #86befec3 !important;
}
