#page {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  touch-action: none;
  -ms-touch-action: none;
}

#infoBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 + p {
  margin-top: 20px;
}

h1 {
  margin: 0;
  font-family: "VK Sans Display";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff !important;
}

p {
  margin: 0;
  font-family: "VK Sans Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff !important;
}

button.finish {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin-top: 36px;
  width: 258px;
  height: 64px;
  font-family: "VK Sans Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5 !important;
  border-radius: 14px;
  border: none;
  color: black !important;
}
