.card-grid__item__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.card-grid__item__img:hover {
  transform: scale(1.05);
}

.card-grid__item__img--hidden {
  filter: opacity(0);
}

@keyframes matched {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.card-grid__item__img--revealed {
  display: unset;
}

.card-grid__item__img--matched {
    display: unset;
    animation: matched 1s ease 0.5s 1 normal forwards;
}
